<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebarMenu">
    <div class="sidebar-stiky pt-3">
        <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/home" class="nav-link">
            <span data-feather="home">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#userSubmenu" class="nav-link active dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <span data-feather="shopping-cart">Usuarios</span>
            </a>
            <ul class="collapse lisst-unstyled" id="userSubmenu">
                <li class="nav-link">
                    <a href="/usuario/crear">Crear Usuario</a>
                </li>
                <li class="nav-link">
                    <a href="/usuario/modificar">Modificar Usuarios</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a
            href="#homeSubmenu"
            class="nav-link active dropdown-toggle"
            data-toggle="collapse"
            aria-expanded="false"
            >
            <span data-feather="shopping-cart">Productos</span>
            </a>
            <ul class="collapse lisst-unstyled" id="homeSubmenu">
            <li class="nav-link">
                <a href="/producto/crear">Ingresar Producto</a>
            </li>
            <li class="nav-link">
                <a href="/productos/listar">Listar Productos</a>
            </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/ventas" class="nav-link">
            <span data-feather="home">Venta</span>
            </a>
        </li>
        </ul>
    </div>
</nav>