<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ventas</title>
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/jesusquintero89/cafeteria@main/cafeteria/assets/media/cofee.ico" />
    
    <style> 
    body{
      background: white;
      background-size: cover;
      background-position: center;
    }
    /* Imagen de fondo */
    #imgFondo { 
        background-image: url("static/images/cafeteria.jpeg") ;
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    /* Defino tamaño y diseño de letra para el listado de productos a la venta */
    #letraMenu{
      font-size: 30px;
      font-style:normal;
      color:blue ;
      text-shadow: 1px 1px 5px blue;
    }
    .sidebar {
        min-height: 89vh;
    }

    .mt-auto,
    .my-auto {
        margin-top: auto !important;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"]{
        background:rgb(241, 241, 241);
    }

    a {
        color: #17a2b8;
    }

    .product-grid{
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .product-grid:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .image{
      position: relative;
    }
    </style>
</head>

<body>
    <!--Texto inicial TITULO-->
        <!-- Barra de navegacion superior -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Cafeteria Brioche</a>
  
      <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
          <a href="#" class="nav-link">Carrito Venta</a>
          </li>
      </ul>
    </nav>
    <!-- <div class="container">
      <br>
        <h1 align="center"><b> Cafeteria Brioche </b></h1> 
        <h5 align="center"><b> Realice el registro de su venta </b></h5><br>
    </div>  -->

    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebarMenu">
              <div class="sidebar-stiky pt-3">
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a href="home.html" class="nav-link">
                          <span data-feather="home">Home</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#userSubmenu" class="nav-link active dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                              <span data-feather="shopping-cart">Usuarios</span>
                          </a>
                          <ul class="collapse lisst-unstyled" id="userSubmenu">
                              <li class="nav-link">
                                  <a href="panel-usuarios-crear.html">Crear Usuario</a>
                              </li>
                              <li class="nav-link">
                                  <a href="panel-usuarios-modificar.html">Modificar Usuarios</a>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a href="#homeSubmenu" class="nav-link active dropdown-toggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                              <span data-feather="shopping-cart">Productos</span>
                          </a>
                          <ul class="collapse lisst-unstyled" id="homeSubmenu">
                              <li class="nav-link">
                                  <a href="create-producto.html">Ingresar Producto</a>
                              </li>
                              <li class="nav-link">
                                  <a href="list-producto.html">Listar Productos</a>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                        <span data-feather="home">Venta</span>
                        </a>
                    </li>
                  </ul>
              </div>
          </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="row">
              <!--Primera columna-->
                <!-- <div class="col-3"  style="background-color:#aaa" align="center"><br>
                  <h1>Usuario</h1> <br>
                  <p>Grupo B</p>
                </div> -->
        
              <!--Segunda columna-->
                <div class="col-12"  style="background-color:#bbb" align="center"><br>
                  <!-- <h1 class="h2">Listado de productos</h1>  -->
                  <!-- <p>Seleccione los productos a vender</p>   -->
                
                  <div>
                    <table border="1" align="center">
                      <th><label>Buscar Producto:</label>
                          <input type="search" placeholder="Ej. Cafe">
                          <button type="button" class="btn btn-dark">Buscar</button>
                      </th>
                    </table>
                    <br>
                    <!-- <div class="row">
                      <div class=col-2>
                        <h4><u>Cantidad</u></h4>
                      </div>
                      <div class=col-7>
                        <h4><u>Producto</u></h4>
                      </div>
                      <div class=col-3>
                        <h4><u>Valor unitario</u></h4>
                      </div>
                  </div> -->
        
                  </div>
                </div>
        
              <!--Tercera columna-->
                <!-- <div class="col-3"  style="background-color:#ccc" align="center"><br>
                  <h3>Productos a facturar</h3>
                </div>      
              </div> -->
        
              <!--Tercera fila de trabajo dividida en 3 columnas para trabajar con la columna 2 y la columna 3(Productos a facturar)-->
              <div class="row">
                <!-- <div class="col-3"></div> -->
                <div class="col-md-8">
                  <div class="col-md-2 product-grid">
                    <div class="image">
                      <a href="#">
                        <img src="../static/images/Croissant.png" class="w-100">
                      </a>
                    </div>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Cafe</h6>                        
                      </div>
                      <span class="text-muted">$1000</span>
                    </li>                    
                    <a href="#" class="btn">Agregar</a>
                  </div>  

                  <div class="col-md-2 product-grid">
                    <div class="image">
                      <a href="#">
                        <img src="../static/images/croissant.png" class="w-100">
                      </a>
                    </div>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Cafe</h6>                        
                      </div>
                      <span class="text-muted">$1000</span>
                    </li>                    
                    <a href="#" class="btn">Agregar</a>
                  </div>  

                  <div class="col-md-2 product-grid">
                    <div class="image">
                      <a href="#">
                        <img src="../static/images/croissant.png" class="w-100">
                      </a>
                    </div>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                      <div>
                        <h6 class="my-0">Cafe</h6>                        
                      </div>
                      <span class="text-muted">$1000</span>
                    </li>                    
                    <a href="#" class="btn">Agregar</a>
                  </div>  
                  
                </div>
                  <!-- <div class="row" id="letraMenu">

                    <div class="col-2" align="center" id="letraMenu">             
                      <p>n1</p><hr>
                      <p>n2</p><hr>
                      <p>n3</p><hr>
                      <p>n4</p><hr>
                      <p>n5</p><hr>
                    </div>

                    <div class="col-7">
                      <p>Producto A</p><hr>
                      <p>Producto B</p><hr>
                      <p>Producto C</p><hr>
                      <p>Producto Y</p><hr>
                      <p>Producto Z</p><hr>
                    </div>

                    <div class="col-3" align="right">
                      <p>Precio A</p><hr>
                      <p>Precio B</p><hr>
                      <p>Precio C</p><hr>
                      <p>Precio Y</p><hr>
                      <p>Precio Z</p><hr>
                    </div>
                  </div> -->
                  <div class="col-md-4 order-md-auto mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-muted">Listado de Productos</span>
                      <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Cafe</h6>
                          <small class="text-muted">Cantidad: 1</small>
                        </div>
                        <span class="text-muted">$2000</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Gaseosa</h6>
                          <small class="text-muted">Cantidad: 1</small>
                        </div>
                        <span class="text-muted">$1500</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                          <h6 class="my-0">Pastel</h6>
                          <small class="text-muted">Cantidad: 2</small>
                        </div>
                        <span class="text-muted">$4000</span>
                      </li>
                      <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                          <h6 class="my-0">Promo code</h6>
                          <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                      </li> -->
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>$7500</strong>
                      </li>
                    </ul>
                  </div>
                </div>
                
                <!--Tabla de los productos a facturar-->
                <!--<div class="card-body">-->
                <div class="col-3">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Cant</th>
                          <th scope="col">Precio Unitario</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody style="color:antiquewhite ">
                        <tr>
                          <td>Name1</td>
                          <td>40</td>
                          <td>$ 1.000</td>
                          <td>$ 40.000</td>
                        </tr>
                        <tr>
                          <td>Name2</td>
                          <td>3</td>
                          <td>$ 30.000</td>
                          <td>$ 90.000</td>
                        </tr>
                        <tr>
                          <td>Name3</td>
                          <td>41</td>
                          <td>$ 1.000</td>
                          <td>$ 41.000</td>
                        </tr>
                        <tr>
                          <td>Name4</td>
                          <td>2</td>
                          <td>$ 20.000</td>
                          <td>$ 40.000</td>
                        </tr>
                      </tbody>
                    </table>
                    <label style="color:lightgoldenrodyellow ;"><b>Total de la venta </b></label>
                    <input type="text" name="total" placeholder="Valor total de la venta" readonly>
                  </div>
                
        
              </div>
          </main>
          
      </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


</body>
</html>